.user-directory h2 {
    font-size:18px;
}
.user-directory select {
    font-size:16px;
    margin:0 5px;
}

.user-directory .paging {
    margin:10px 0;
}

.user-directory .paging span:first-child {
    margin-right:5px;
}

.user-directory .paging .btn,
.user-directory .paging .current-page {
    margin:0 2px;
    padding:4px 8px;
}

.user-directory .search-form {
    margin-top:10px;
    text-align:center;
}

.user-directory .search-form .btn {
    margin:0;
}

.user-directory .search-form input[type=text],
.user-directory .search-form select {
    font-size:14px;
    margin:0 2px;
    padding:4px 8px;
    height: 30px;
}

.user-directory .paging span {
    font-weight:bold;
}

.user-directory .paging span.current-page {

    /* .btn */
    font-weight: normal;
    display: inline-block;
    padding:4px 8px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    /* .btn.active */
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    color: #333;
    background-color: #e6e6e6;

}

.user-directory .userpicture {
    width:80px;
    height:80px;
}

.user-directory-table td {
    vertical-align: middle;
}
